In [1]:
import pandas as pd

In [2]:
train=pd.read_csv('sales_train.csv')

In [3]:
test=pd.read_csv('test.csv')

In [4]:
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
5,10.01.2013,0,25,2564,349.00,1.0
6,02.01.2013,0,25,2565,549.00,1.0
7,04.01.2013,0,25,2572,239.00,1.0
8,11.01.2013,0,25,2572,299.00,1.0
9,03.01.2013,0,25,2573,299.00,3.0
10,03.01.2013,0,25,2574,399.00,2.0
11,05.01.2013,0,25,2574,399.00,1.0
12,07.01.2013,0,25,2574,399.00,1.0
13,08.01.2013,0,25,2574,399.00,2.0
14,10.01.2013,0,25,2574,399.00,1.0
15,11.01.2013,0,25,2574,399.00,2.0
16,13.01.2013,0,25,2574,399.00,1.0
17,16.01.2013,0,25,2574,399.00,1.0
18,26.01.2013,0,25,2574,399.00,1.0
19,27.01.2013,0,25,2574,399.00,1.0
20,09.01.2013,0,25,2593,279.00,1.0
21,16.01.2013,0,25,2604,299.00,1.0
22,27.01.2013,0,25,2604,299.00,1.0
23,27.01.2013,0,25,2607,279.00,1.0
24,29.01.2013,0,25,2607,279.00,1.0
25,27.01.2013,0,25,2609,1699.00,1.0
26,06.01.2013,0,25,2548,1708.95,1.0
27,26.01.2013,0,25,2611,299.00,1.0
28,02.01.2013,0,25,2546,299.00,1.0
29,06.01.2013,0,25,2515,1649.00,1.0
...,...,...,...,...,...,...
2935819,16.10.2015,33,25,7789,1799.00,1.0
2935820,22.10.2015,33,25,7790,799.00,1.0
2935821,22.10.2015,33,25,7791,899.50,1.0
2935822,17.10.2015,33,25,7632,2310.00,1.0
2935823,26.10.2015,33,25,7487,299.00,1.0
2935824,14.10.2015,33,25,7029,999.00,1.0
2935825,23.10.2015,33,25,7460,299.00,1.0
2935826,04.10.2015,33,25,7233,599.00,1.0
2935827,18.10.2015,33,25,7308,349.00,1.0
2935828,21.10.2015,33,25,7233,479.00,1.0
2935829,03.10.2015,33,25,7233,599.00,1.0
2935830,11.10.2015,33,25,7286,299.00,1.0
2935831,22.10.2015,33,25,7187,299.00,1.0
2935832,26.10.2015,33,25,7484,299.00,1.0
2935833,22.10.2015,33,25,7308,349.00,1.0
2935834,29.10.2015,33,25,7235,298.00,1.0
2935835,18.10.2015,33,25,7327,349.00,1.0
2935836,22.10.2015,33,25,7327,349.00,1.0
2935837,24.10.2015,33,25,7328,249.00,1.0
2935838,17.10.2015,33,25,7338,349.00,1.0
2935839,24.10.2015,33,25,7315,399.00,1.0
2935840,31.10.2015,33,25,7409,299.00,1.0
2935841,11.10.2015,33,25,7393,349.00,1.0
2935842,10.10.2015,33,25,7384,749.00,1.0
2935843,09.10.2015,33,25,7409,299.00,1.0
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [ ]:
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
5            5        5     5039
6            6        5     5041
7            7        5     5046
8            8        5     5319
9            9        5     5003
10          10        5     4806
11          11        5     4843
12          12        5     4607
13          13        5     4869
14          14        5     4870
15          15        5     4872
16          16        5     4874
17          17        5     4678
18          18        5     4892
19          19        5     4964
20          20        5     4717
21          21        5     5002
22          22        5     5823
23          23        5     5814
24          24        5     5900
25          25        5     5907
26          26        5     5908
27          27        5     5643
28          28        5     5657
29          29        5     5675
...        ...      ...      ...
214170  214170       45    14543
214171  214171       45    19253
214172  214172       45    17957
214173  214173       45    12470
214174  214174       45     7543
214175  214175       45     6661
214176  214176       45    11137
214177  214177       45    11489
214178  214178       45     9782
214179  214179       45     2972
214180  214180       45    19889
214181  214181       45    20650
214182  214182       45     5665
214183  214183       45     9978
214184  214184       45    10767
214185  214185       45    14443
214186  214186       45    14341
214187  214187       45     5401
214188  214188       45     9500
214189  214189       45    16007
214190  214190       45     3280
214191  214191       45     4393
214192  214192       45     4352
214193  214193       45    18049
214194  214194       45    18027
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [ ]:
train.isnull().sum()

date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

In [ ]:
train.iloc[3]

date              06.01.2013
date_block_num             0
shop_id                   25
item_id                 2554
item_price           1709.05
item_cnt_day               1
Name: 3, dtype: object

In [ ]:
train['item_cnt_day'].value_counts().head(10)

 1.0    2629372
 2.0     194201
 3.0      47350
 4.0      19685
 5.0      10474
-1.0       7252
 6.0       6338
 7.0       4057
 8.0       2903
 9.0       2177
Name: item_cnt_day, dtype: int64

In [ ]:
train['date']=pd.to_datetime(train['date'])
train['year'] = pd.DatetimeIndex(train['date']).year
train['month'] = pd.DatetimeIndex(train['date']).month
train['day'] = pd.DatetimeIndex(train['date']).day

In [ ]:
train

In [ ]:
train['item_cnt_day'].value_counts().head(10)

In [ ]:
train['month'].value_counts()

In [ ]:
train

In [ ]:
a=train.groupby('month')['item_cnt_day'].count()

In [ ]:
train['year']

In [ ]:
a=train[(train['month']==1)&(train['year']==2013)]['item_price'].sum()
ab=train[(train['month']==1)&(train['year']==2013)]['item_cnt_day'].sum()
b=train[(train['month']==1)&(train['year']==2014)]['item_price'].sum()
bc=train[(train['month']==1)&(train['year']==2014)]['item_cnt_day'].sum()
c=train[(train['month']==1)&(train['year']==2015)]['item_price'].sum()
cd=train[(train['month']==1)&(train['year']==2015)]['item_price'].sum()
aw=a*ab
bw=b*bc
cw=c*cd

In [ ]:
d=train[(train['month']==2)&(train['year']==2013)]['item_price'].sum()
de=train[(train['month']==2)&(train['year']==2013)]['item_cnt_day'].sum()
e=train[(train['month']==2)&(train['year']==2014)]['item_price'].sum()
ef=train[(train['month']==2)&(train['year']==2014)]['item_cnt_day'].sum()
f=train[(train['month']==2)&(train['year']==2015)]['item_price'].sum()
fg=train[(train['month']==2)&(train['year']==2015)]['item_cnt_day'].sum()
dw=d*de
ew=e*ef
fw=f*fg

In [ ]:
g=train[(train['month']==3)&(train['year']==2013)]['item_price'].sum()
gh=train[(train['month']==3)&(train['year']==2013)]['item_cnt_day'].sum()
h=train[(train['month']==3)&(train['year']==2014)]['item_price'].sum()
hi=train[(train['month']==3)&(train['year']==2014)]['item_cnt_day'].sum()
i=train[(train['month']==3)&(train['year']==2015)]['item_price'].sum()
ij=train[(train['month']==3)&(train['year']==2015)]['item_cnt_day'].sum()
gw=g*gh
hw=h*hi
iw=i*ij

In [ ]:
j=train[(train['month']==4)&(train['year']==2013)]['item_price'].sum()
jk=train[(train['month']==4)&(train['year']==2013)]['item_cnt_day'].sum()
k=train[(train['month']==4)&(train['year']==2014)]['item_price'].sum()
kl=train[(train['month']==4)&(train['year']==2014)]['item_cnt_day'].sum()
l=train[(train['month']==4)&(train['year']==2015)]['item_price'].sum()
lm=train[(train['month']==4)&(train['year']==2015)]['item_cnt_day'].sum()
jw=j*jk
kw=k*kl
lw=l*lm

In [ ]:
m=train[(train['month']==5)&(train['year']==2013)]['item_price'].sum()
mn=train[(train['month']==5)&(train['year']==2013)]['item_cnt_day'].sum()
n=train[(train['month']==5)&(train['year']==2014)]['item_price'].sum()
no=train[(train['month']==5)&(train['year']==2014)]['item_cnt_day'].sum()
o=train[(train['month']==5)&(train['year']==2015)]['item_price'].sum()
op=train[(train['month']==5)&(train['year']==2015)]['item_cnt_day'].sum()
mw=m*mn
nw=n*no
ow=o*op

In [ ]:
p=train[(train['month']==6)&(train['year']==2013)]['item_price'].sum()
pq=train[(train['month']==6)&(train['year']==2013)]['item_cnt_day'].sum()
q=train[(train['month']==6)&(train['year']==2014)]['item_price'].sum()
qr=train[(train['month']==6)&(train['year']==2014)]['item_cnt_day'].sum()
r=train[(train['month']==6)&(train['year']==2015)]['item_price'].sum()
rs=train[(train['month']==6)&(train['year']==2015)]['item_cnt_day'].sum()
pw=p*pq
qw=q*qr
rw=r*rs

In [ ]:
s=train[(train['month']==7)&(train['year']==2013)]['item_price'].sum()
st=train[(train['month']==7)&(train['year']==2013)]['item_cnt_day'].sum()
t=train[(train['month']==7)&(train['year']==2014)]['item_price'].sum()
tu=train[(train['month']==7)&(train['year']==2014)]['item_cnt_day'].sum()
u=train[(train['month']==7)&(train['year']==2015)]['item_price'].sum()
uv=train[(train['month']==7)&(train['year']==2015)]['item_cnt_day'].sum()
sw=s*st
tw=t*tu
uw=u*uv

In [ ]:
v=train[(train['month']==8)&(train['year']==2013)]['item_price'].sum()
vww=train[(train['month']==8)&(train['year']==2013)]['item_cnt_day'].sum()
w=train[(train['month']==8)&(train['year']==2014)]['item_price'].sum()
wx=train[(train['month']==8)&(train['year']==2014)]['item_cnt_day'].sum()
x=train[(train['month']==8)&(train['year']==2015)]['item_price'].sum()
xy=train[(train['month']==8)&(train['year']==2015)]['item_cnt_day'].sum()
vw=v*vww
ww=w*wx
xw=x*xy

In [ ]:
y=train[(train['month']==9)&(train['year']==2013)]['item_price'].sum()
yz=train[(train['month']==9)&(train['year']==2013)]['item_cnt_day'].sum()
z=train[(train['month']==9)&(train['year']==2014)]['item_price'].sum()
zaa=train[(train['month']==9)&(train['year']==2014)]['item_cnt_day'].sum()
aa=train[(train['month']==9)&(train['year']==2015)]['item_price'].sum()
aabb=train[(train['month']==9)&(train['year']==2015)]['item_cnt_day'].sum()
yw=y*yz
zw=z*zaa
aaw=aa*aabb

In [ ]:
bb=train[(train['month']==10)&(train['year']==2013)]['item_price'].sum()
bbcc=train[(train['month']==10)&(train['year']==2013)]['item_cnt_day'].sum()
cc=train[(train['month']==10)&(train['year']==2014)]['item_price'].sum()
ccdd=train[(train['month']==10)&(train['year']==2014)]['item_cnt_day'].sum()
dd=train[(train['month']==10)&(train['year']==2015)]['item_price'].sum()
ddee=train[(train['month']==10)&(train['year']==2015)]['item_cnt_day'].sum()
bbw=bb*bbcc
ccw=cc*ccdd
ddw=dd*ddee

In [ ]:
ee=train[(train['month']==11)&(train['year']==2013)]['item_price'].sum()
eeff=train[(train['month']==11)&(train['year']==2013)]['item_cnt_day'].sum()
ff=train[(train['month']==11)&(train['year']==2014)]['item_price'].sum()
ffgg=train[(train['month']==11)&(train['year']==2014)]['item_cnt_day'].sum()
gg=train[(train['month']==11)&(train['year']==2015)]['item_price'].sum()
gghh=train[(train['month']==11)&(train['year']==2015)]['item_cnt_day'].sum()
eew=ee*eeff
ffw=ff*ffgg
ggw=gg*gghh

In [ ]:
hh=train[(train['month']==12)&(train['year']==2013)]['item_price'].sum()
hhii=train[(train['month']==12)&(train['year']==2013)]['item_cnt_day'].sum()
ii=train[(train['month']==12)&(train['year']==2014)]['item_price'].sum()
iijj=train[(train['month']==12)&(train['year']==2014)]['item_cnt_day'].sum()
jj=train[(train['month']==12)&(train['year']==2015)]['item_price'].sum()
jjkk=train[(train['month']==12)&(train['year']==2015)]['item_cnt_day'].sum()
hhw=hh*hhii
iiw=ii*iijj
jjw=jj*jjkk

In [ ]:
import numpy as np
gt={'Month':(1,2,3,4,5,6,7,8,9,10,11,12),
    'year': np.repeat((2013),(12)),
    'price':[aw,dw,gw,jw,mw,pw,sw,vw,yw,bbw,eew,hhw]
    }

In [ ]:
df = pd.DataFrame(gt, columns = ['Month', 'year','price'])

In [ ]:
df

In [ ]:
import numpy as np
tb={'Month':(1,2,3,4,5,6,7,8,9,10,11,12),
    'year': np.repeat((2014),(12)),
    'price':[bw,ew,hw,kw,nw,qw,tw,ww,zw,ccw,ffw,iiw]
    }

In [ ]:
df1 = pd.DataFrame(tb, columns = ['Month', 'year','price'])

In [ ]:
df1

In [ ]:
import numpy as np
tj={'Month':(1,2,3,4,5,6,7,8,9,10,11,12),
    'year': np.repeat((2015),(12)),
    'price':[cw,fw,iw,lw,ow,rw,uw,xw,aaw,ddw,ggw,jjw]
    }

In [ ]:
df2 = pd.DataFrame(tj, columns = ['Month', 'year','price'])

In [ ]:
df2

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(10,4))
sns.scatterplot(x='Month',y='price',data=df,palette='coolwarm')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(10,4))
sns.scatterplot(x='Month',y='price',data=df1,palette='coolwarm')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(10,4))
sns.scatterplot(x='Month',y='price',data=df2,palette='coolwarm')

In [ ]:
df['price'].describe()

In [ ]:
df1['price'].describe()

In [ ]:
df2['price'].describe()

In [ ]:
import numpy as np
df['price']=np.log(df['price'])

In [ ]:
df

In [ ]:
import numpy as np
df1['price']=np.log(df1['price'])

In [ ]:
import numpy as np
df2['price']=np.log(df2['price'])

In [ ]:
df['price'].describe()

In [ ]:
df1['price'].describe()

In [ ]:
df2['price'].describe()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(10,4))
sns.scatterplot(x='Month',y='price',data=df,palette='coolwarm')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(10,4))
sns.scatterplot(x='Month',y='price',data=df1,palette='coolwarm')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(10,4))
sns.scatterplot(x='Month',y='price',data=df2,palette='coolwarm')

In [ ]:
df['price'].describe()

In [ ]:
df1['price'].describe()

In [ ]:
df2['price'].describe()

In [ ]:
import numpy as np
tb={'Month':(1,2,3,4,5,6,7,8,9,10,11,12),
    'year': np.repeat((2014),(12)),
    'price':[bw,ew,hw,kw,nw,qw,tw,ww,zw,ccw,ffw,iiw]
    }

In [ ]:
import numpy as np
tj={'Month':(1,2,3,4,5,6,7,8,9,10,11,12),
    'year': np.repeat((2015),(12)),
    'price':[cw,fw,iw,lw,ow,rw,uw,xw,aaw,ddw,ggw,jjw]
    }

In [ ]:
import numpy as np
adg={'Month':(1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12),
    'year': np.repeat((2013,2014,2015),(12,12,12)),
    'price':[aw,dw,gw,jw,mw,pw,sw,vw,yw,bbw,eew,hhw,bw,ew,hw,kw,nw,qw,tw,ww,zw,ccw,ffw,iiw,cw,fw,iw,lw,ow,rw,uw,xw,aaw,ddw,ggw,jjw]
    }

In [ ]:
df3 = pd.DataFrame(adg, columns = ['Month', 'year','price'])

In [ ]:
df3

In [ ]:
df3['price']=np.log(df3['price'])

In [ ]:
df3

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Convert Pandas to Numpy for Keras

# Features
X = df3[['Month','year']].values

# Label
y = df3['price'].values

# Split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
X_train.shape

In [ ]:
y_train.shape

In [ ]:
X_test.shape

In [ ]:
y_test.shape

In [ ]:
X=X.reshape(1,36,2)

In [ ]:
X.shape

X_train.reshape(1,25,2)
X_test.reshape(1,11,2)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
scaler.fit(X_train)

In [ ]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
import tensorflow as tf

In [ ]:
from tensorflow.keras.models import Sequential

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

In [ ]:
from tensorflow.keras.layers import LSTM

In [ ]:
help(LSTM)

In [ ]:
X_train=X_train.reshape(25,1,2)
X_test=X_test.reshape(11,1,2)
X=X.reshape(36,1,2)

In [ ]:
X_train.shape[2]

In [ ]:
model = Sequential()

model.add(LSTM(100,batch_input_shape=(25,1,2)))

In [ ]:
model.add(Dense(1))

model.compile(optimizer='adam',loss='mse')

model.fit(X_train,y_train,epochs=250)

In [ ]:
model.fit(X_train,y_train,epochs=300,batch_size=None)

In [ ]:
loss = model.history.history['loss']

In [ ]:
sns.lineplot(x=range(len(loss)),y=loss)
plt.title("Training Loss per Epoch");

In [ ]:
training_score = model.evaluate(X_train,y_train,verbose=0)
training_score

In [ ]:
test_predictions = model.predict(X_test)

In [ ]:
pred_df = pd.DataFrame(y_test,columns=['Test Y'])

In [ ]:
pred_df